<p>
  Send any request on this URL and it will be written.
  I.e. <%= @base_url %>/some_url/....
</p>
<p>
  If you send word "requests" on after first part of your request you will got
  requests sent on this URL with renew data through socket
</p>